body{
    background-color: aliceblue;
}


li a{
    font-weight: bold;
    font-size: 25px;
    margin-left: 30px;
    text-decoration: none;  
}

i:hover{
    color: green;
}

.fa{
    color: rgb(39, 1, 175);
    font-weight: bold;
    
    margin-left: 20px;
}
.signup-form{
    margin:auto;    
    width:350px;
    height:529px;
    background-color: aquamarine;
    border-radius: 3px;
    
}

h1{
    text-align: center;
    padding-top: 10px;
}

form{
    margin-left: 20px;
    width: 200px;
}

form input{
    width: 300px;
    border:none;
    border-radius: 4px;
    padding:5px;
}

p{
    text-align: center;
    
 } 

 input[type="submit"]{
    width: 100px;
    background-color:lightpink;
    color:darkblue;
    font-size: 20px;
    /* pointer-events: auto; */
    
}

input[type="submit"]:hover{
    color: red;
    cursor: pointer;
    
}

 